<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <title>AlphaBlog</title>
  </header>
  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
     
    <%= yield %> <%# this is where all the other views get served through this command #%>
  
  </body>
    <%# render footer on every page #%>
    <%= render 'layouts/footer' %> 
</html>
